<!-- INDEX.HTML -->
<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
	<script src="{{ url_for('static', filename='dataTables.bootstrap4.min.js') }}"></script>
	<script src="{{ url_for('static', filename='script.js') }}"></script>

	<title>Quesiti Bebras dell'Informatica</title>
</head>

<body>
	<div class="jumbotron"> 
		<div class="row">
			<div class="col-3">
				<img src="/static/tasks/immagini/logobebras.png" alt="" class="img-fluid" style="width: 400px; padding: 1em; padding-right: 4em">
			</div> <!-- col-3 -->

			<div class="col-9">
  				<h1 class="display-3">Quesiti Bebras dell'Informatica</h1>
  				<p class="lead"></p>
  				<hr class="my-4">
  				<div class="row" style="padding-top: 3%">
  					<!--<div class="col-1">
  					</div>-->
  					<div class="col-4" style="padding-right: 5%; padding-left: 5%">
  						<p class="lead" style="height:250px">Nella sezione "Elenco quesiti" sono disponibili tutti i quesiti utilizzati nelle gare del Bebras dell'Informatica, con le relative soluzioni e spiegazioni.</p>
              <a class="btn btn-primary btn-lg" href="/elencoquesiti" role="button" style="display: flex; justify-content: center;">Elenco<br>quesiti</a>
  					</div>
  					<div class="col-4" style="padding-right: 5%; padding-left: 5%">
              <p class="lead"  style="height:250px">Nella sezione "Indicazioni nazionali" sono riportati alcuni traguardi e obiettivi estratti dalle indicazioni ministeriali collegati ai quesiti Bebras.
              </p>
              <a class="btn btn-primary btn-lg" href="/indicazioninazionali" role="button" style="display: flex; justify-content: center;">Indicazioni<br>nazionali</a>
  					</div>
  					<div class="col-4" style="padding-right: 7%; padding-left: 5%">
  						<p class="lead"  style="height:250px">Nella sezione "Pensiero computazionale" è riportata una classificazione dei quesiti in base al pensiero computazionale.
  						</p>
  						<a class="btn btn-primary btn-lg" href="/computationalthinking" role="button" style="display: flex; justify-content: center;">Pensiero<br>computazionale</a>
  					</div>
  					<!--<div class="col-1">
  					</div>-->
  				</div>
  			</div> <!-- end col-9 -->
  		</div> <!-- end row -->
	</div> <!-- end jumbotron -->
</body>
</html>
<!-- END INDEX.HTML -->