<!-- TRAGUARDIEOBIETTIVI.HTML -->
{% extends "task.html" %}
{% block task %}

x:{{x}}
<br>y: {{y}}

{% set elenco = task.indicazioni_nazionali %}

{% for i in indicazioninaz%}
{% if i.id_indicazioni in elenco and i.area_disciplinare=='Matematica' and i.grado_scolastico=='Scuola primaria'%}
    <br>MATEMATICA, ELEMENTARI
        <li>{{i}}</li>
{% endif %}
{% endfor %}
<br>
<br>
<br>INIZIO PROVE VARIE:


<br>TASK <br>
{% for y in task.indicazioni_nazionali %}
    {{y}}
{% endfor %}


<br>INDICAZIONI<br>
{% for x in indicazioninaz %}
    <br>IND: {{x}}
{% endfor %}



<!-- END ARGOMENTOINFORMATICO.HTML -->
{% endblock %}
